{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h3>Edit Page!</h3>
    <h4>{{ title }}</h4>
    <form action="{% url 'new' %}" method="post">
        {% csrf_token %}
        <div></div>
        <label>Content (Markdown syntax)</label>
        <div></div>
        <input type="hidden" name="title" value="{{ title }}">
        <input type="hidden" name="editPageBool" value="True">
        <textarea name="content" >{{ content }}</textarea>
        <input type="Submit" value="Save">
    </form>

{% endblock %}